.GridContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Grid {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Grid.readonly {
  cursor: not-allowed;
}

.Grid.nano {
  margin: 4px 0;
}

.Row {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.Cell {
  background-color: #fff;
}

.Grid.normal .Cell {
  border: 0.5vmin solid black;
  height: 14vmin;
  margin: 0 -0.5vmin -0.5vmin 0;
  width: 14vmin;
}

.Grid.mini .Cell {
  border: 2px solid black;
  height: 48px;
  margin: 0 -2px -2px 0;
  width: 48px;
}

.Grid.nano .Cell {
  border: 1px solid black;
  height: 5px;
  margin: 0 -1px -1px 0;
  width: 5px;
}

.CellHighlight {
  background-color: #000;
}
