.MenuPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2vmin;
  text-align: center;
}

.MenuPanel button {
  font-size: 300%;
  padding: .1em .4em;
}

.MenuPanel .LangSelector {
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
}

.MenuPanel .LangSelector button {
  background: none;
  border: none;
  font-size: 200%;
  cursor: pointer;
}

.MenuPanel .Bibliography .Title {
  font-weight: bold;
}

.MenuPanel .Credits {
  font-weight: bold;
}