.ResultsPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2vmin;
  text-align: center;
}

.ResultsPanel table {
  align-self: start;
}

.ResultsPanel table, .ResultsPanel td, .ResultsPanel th {
  border-collapse: collapse;
}

.ResultsPanel td, .ResultsPanel th {
  border: 1px solid black;
  padding: 0 .5em;
  text-align: center;
}
